body{
    font-family: 'Times New Roman', Times, serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
}
section{
    margin-bottom: 40px;
    padding: 20px;
    border: 3px solid rgb(218, 84, 202);
    border-radius: 20px;
}
input, 
textarea{
    margin: 5px 0;
    padding: 5px;
    
}
button{
    background-color: rgb(146, 99, 190);
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2;
}
button:hover{
    background-color: blueviolet;
    transform: scale(1.1);
}
img{
    width: 200px;
    border: 2px solid rgb(227, 129, 238);
    border-radius: 10px;
}
